* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body, html {
  width: 100%;
  height: 100%;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
  
}
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 320px 4fr;
    grid-gap: 50px;
    padding: 30px;
  }
    .sidebar{
      display: grid;
			grid-template-rows: 1fr 2fr;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			margin: 16px;
			max-height: 90vh;
			max-width: 320px;
    }
			.header {
				max-width: 320px;
			}
			.profilePic {
				height: 270px;
				max-width: 288px;
				grid-area: profilePic;
			}
			.picUnderline {
				height: 20px;
				background-color: rgb(22, 7, 163);
				margin: 0;
				max-width: 288px;
			}
			h2 {
				margin: 0;
			}
      .sidebarMain {
				/* display: grid;
				grid-template-rows: 25% 50% 25%; */
				margin:	5px 25px;
			}
				.about {
					/* display: grid;
					grid-template-rows: 1fr 0.2fr 0.8fr 1.4fr; */
					margin-bottom: 10px;
				}
				.line-about{
					width: 46px;
					border-bottom: 2px solid rgb(22, 7, 163);
					position: relative;
					min-height: 0;
					margin-bottom: 1em;
				}
				p {
					align-self: center;
					margin: 0;
					line-height: 1.7;
				
				}
				.info-local{
					display: grid;
					grid-template-columns: 40px auto;
					max-width: 240px;
				}
				.info-email {
					display: grid;
					grid-template-columns: 40px auto;
					max-width: 240px;
				} 
				.languages {
					/* display: grid;
					grid-template-rows: 30px 10px repeat(3, 40px); */
					margin-top: 20px; 
					margin-bottom: 0;
				}
					.line-languages {
						width: 81px;
						border-bottom: 2px solid rgb(22, 7, 163);
						position: relative;
						min-height: 0;
						margin-bottom: 1em;
					}
					ul {
						list-style: none;
						padding: 0;
						margin-top: 5px;
					}
						li {
							text-align: left; 
							padding: 4px 0 4px 0;
							margin-bottom: 3px;
						}
       
        .lnr{
            height: 25px;
            width: 25px;
				}
				.interests {
					
					/* display: grid;
					grid-template-rows: 25% 5% auto; */
					margin-top: 20px;
				}
					.line-interests {
						width: 73px;
						border-bottom: 2px solid rgb(22, 7, 163);
						position: relative;
						min-height: 0;
						margin-bottom: 1em;
					}
					.interestsIcons {
						margin-top: 20px;
					}
					.row-icons {
						display: grid;
						grid-template-columns: 40px 40px 40px 40px 40px 40px;
					}
      
    .content {
      display: grid;
			grid-template-rows: 0.5fr 0.5fr 0.5fr 1.5fr;
			max-height: 90vh;
			overflow-y: scroll;
    }
    	.content_header {
				position: sticky;
				top: -1px;
				background-color: #fff;
				z-index: 9999;
				display: grid;
				grid-template-rows: 4fr 2fr;
			}
				.main_title {
					display: grid;
					grid-template-columns: 22fr 1fr 1fr;
					margin-top: 1rem;
        }
					h1 {
						margin: 0;
						font-family: 'Parisienne';
						font-size: 56px;
						grid-area: name;
					}
					.github,
					.linkedin {
							align-self: center;		
							cursor: pointer;
					}
				.subtitle {
					display: grid;
					grid-template-columns: 3fr 10fr;
				}
					.position{
						font-family: 'sans serif';
						font-size: 20px;
						font-weight: normal;
					}
					.line-subtitle {
						background-color: rgb(22, 7, 163);
						position: relative;
						min-height: 0;
						margin: 8px 0 26px 8px;
					}
						.line-objectives {
							width: 154px;
							border-bottom: 2px solid rgb(22, 7, 163);
							position: relative;
							min-height: 0;
							margin: 0 0 16px 0;
						}
        .studies{
					display: grid;
					grid-template-columns: 3fr 2fr 2fr;
				}
					.line-studies {
						width: 73px;
						border-bottom: 2px solid rgb(22, 7, 163);
						position: relative;
						min-height: 0;
						margin: 0 0 16px 0;
					}
					.studies_content{
						display: grid;
						grid-template-columns: 100px 400px;
					}
						.date {
							display: grid;
							grid-template-rows: repeat(3, 49px);
						}
					.line-courses {
						width: 70px;
						border-bottom: 2px solid rgb(22, 7, 163);
						position: relative;
						min-height: 0;
						margin: 0 0 16px 0;
					}
					.line-skills {
						width: 52px;
						border-bottom: 2px solid rgb(22, 7, 163);
						position: relative;
						min-height: 0;
						margin: 0 0 16px 0;
					}
					.specifics {
						font-weight: normal;
					}
        .work{
					display: grid;
					grid-template-rows: 40px 10px 300px;
        }
            .topic_title{
							font-weight: bold;
							font-size: 18px;
							margin: 20px 0 0 0;
						}
						.line-work {
							width: 141px;
							border-bottom: 2px solid rgb(22, 7, 163);
							position: relative;
							min-height: 0;
							margin: 0 0 16px 0;
						}
            .work_content {
                display: grid;
                grid-template-columns: repeat(2, 500px);
            }
							.date_1 {
								display: grid;
								grid-template-rows: repeat(3, 57px);
					}
							.date_2 {
								display: grid;
								grid-template-rows: repeat(3, 42px);
							}
							.work_experience {
								display: grid;
								grid-template-columns: 100px 320px;  
							}
								h4 {
									margin: 6px 0 0 0;  
									font-size: 16px;
								
								} 
								h5 {
										font-weight: normal;
										margin: 6px 0 8px 0;
										text-align: justify;
										font-size: 14px;
								}

								@media only screen and (max-width: 412px) {
									.container{
										width: 100%;
										height: 100%;
										padding: 0;
										overflow-y: scroll;
										/* grid-template-areas: "profilePic" "name"
																				"" */
									}
									.sidebar {
										width: 100%;
										height: 100%;
									}
										.sidebarMain {
											box-shadow: 0;
											margin: 0;
										}
									.header {
										max-height: 140px;
									}
									.profilePic {
										height: 50%;
										width: 50%;
									}
									.picUnderline {
										height: 8px;
										background-color: rgb(22, 7, 163);
										margin: 0;
										max-width: 100%;
									}
									.objectives {
											display: none;
									}
									.languages {
										display: none;
									}
									.interests	{
										display: none;
									}
							}