.studies {
  grid-area: studies;
}
  .studies--title{
    font-size: 14px;
    margin-top: 18px;
    font-weight: 700;
  }
  .studies--line {
    width: 50px;
    border-bottom: 2px solid rgb(22, 7, 163);
    position: relative;
    min-height: 0;
    margin: 0 0 16px 0;
  }
  .studies--content{
    display: grid;
    grid-template-columns: 0.6fr auto;
    grid-template-rows: repeat(4, auto)
  }
  .studies--item {
    grid-column: 10px 10px;
  }
    .studies--date {
      display: grid;
      grid-template-rows: repeat(4, auto);
      font-weight: 700;
      line-height: 1.7;
      font-size: 14px;
    }
      .studies--topic {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.7;
      }
      
      .studies--school {
        margin-bottom: 10px;
        font-size: 14px;
      }

  @media only screen and (max-width: 420px) {
    .studies{
      padding: 10px 0 0 0;
      overflow-x: hidden;
    }
    .studies--title {
      font-size: 14px;
      margin-top: 18px;
    }
    .studies--line {
      width: 48px;
      margin: 0 0 8px 0;
    }
    .studies--content {
      display: grid;
      grid-template-columns: 85px auto;
      line-height: 1;
    }
    .studies--date {
      font-size: 13px;
      grid-template-rows: repeat(4, 15px)
    }
  }