.subtitle {
  display: flex;
  grid-area: subtitle;
  padding: 8px 0 0 0;
  align-items: flex-start
  /* position: sticky;
  top: -10px;
  z-index: 9997; */
}
  .position{
    font-family: 'sans-serif';
    font-size: 18px;
    font-weight: normal;
    position: sticky;
    top: -1px;
    background-color: #fff;
    z-index: 9999;
    
  }
  .subtitle--line {
    background-color: rgb(22, 7, 163);
    position: relative;
    min-height: 0;
    margin: 8px 0 26px 8px;
  }

  @media only screen and (max-width: 420px) {
    .subtitle {
      padding: 0 0 10px 0;
    }
    .subtitle--line {
      display: none;
    }
  }