.title {
  grid-area: title;
  position: sticky;
  top: -1px;
  background-color: #fff;
  z-index: 9999;
}
  h1 {
    margin: 0;
    font-family: 'Parisienne';
    font-size: 50px;
  }

  @media only screen and (max-width: 420px) {
    h1 {
      font-size: 36px;
    }
  }