.work {
  grid-area: work;
  display: grid;
  grid-template-rows: 40px 10px auto;
}
  .work--title {
    font-size: 14px;
    margin-top: 24px;
    font-weight: 700;
  }
  .work--line {
    width: 110px;
    border-bottom: 2px solid rgb(22, 7, 163);
    position: relative;
    min-height: 0;
    margin: 0 0 16px 0;
  }
  .work--content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 10px;
    text-align: justify;
  }
    .work--date{
      font-weight: 700;
      font-size: 14px;
    } 
    .job--title {
      font-weight: 700;
      font-size: 14px;
    }
    .job--description {
      font-size: 14px;
      margin: 5px 0 15px 0;
    }
    
    .work--experience-1,
    .work--experience-2 {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0;
    }
    .work--experience-1 {
      margin-right: 30px;
    }
    .work--experience-item {
      display: grid;
      grid-template-columns: 80px auto;
      margin: 0;
    }
    .job--description {
      grid-column: 2/2;
    }

    @media only screen and (max-width: 420px) {
      .work {
        padding: 10px 0 0 0;
        overflow-x: hidden;
      }
      .work--content {
        display: grid;
        grid-template-columns: 1fr;
        text-align: justify; 
      }
      .work--date {
        font-size: 13px;
      }
       
      .work--experience-1,
      .work--experience-2 {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
      }
      .work--experience-item {
        display: grid;
        grid-template-columns: 80px auto;
        margin: 0;
      }
      .job--description {
        grid-column: 2/2;
      }
    }